<main>
  <div class="left">
    <div class="img-box">
      <img [src]="'../../../assets/img/prodotti/' + object.id + ' Grande.jpeg'" alt="" />
    </div>
  </div>
  <div class="right">
    <div class="up">
      
      <div class="close">
        <a routerLink="/collections" class="close-column">
          <svg id="Livello_2" data-name="Livello 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 47.33 46.07">
            <defs>
              <style>
                .cls-1 {
                  fill: none;
                  stroke: #000;
                  stroke-miterlimit: 10;
                }
      
              </style>
            </defs>
            <g id="Livello_1-2" data-name="Livello 1">
              <path class="cls-1"
                d="m38.5,45.57H8.83c-3.25-3.25-5.08-5.08-8.33-8.33V8.83C3.75,5.58,5.58,3.75,8.83.5h29.67c3.25,3.25,5.08,5.08,8.33,8.33v28.42c-3.25,3.25-5.08,5.08-8.33,8.33Z" />
              <g>
                <line class="cls-1" x1="16.38" y1="15.75" x2="30.95" y2="30.32" />
                <line class="cls-1" x1="30.95" y1="15.75" x2="16.38" y2="30.32" />
              </g>
            </g>
          </svg>
        </a>
      </div>

      <p class="title">{{ object.nome }}</p>
    </div>
    <div class="bottom">
      <div class="description">
        <p class="text">{{ object.description }}</p>
      </div>
      <div class="data">
        <table>
          <tbody>
            <tr *ngFor="let item of getObjectKeys(object)">
              <td *ngIf="getObjectValue(item.key)" class="uppercase">{{ item.displayName }}</td>
              <td *ngIf="getObjectValue(item.key)" >{{ getObjectValue(item.key) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
